/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

body {
  margin-top: 30px;
  padding-top: 30px;
}

@media (min-width: 1281px) {
  /* CSS */
  .img-detail {
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .img-gallery {
    max-width: 100%;
  }
  .order-content {
    background-color: blue;
    color: white;
  }
  .order-img {
    max-width: 50%;
  }
  .detail {
    background-color: blue;
    color: white;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  .img-detail {
    max-width: 100%;
  }
  .img-gallery {
    max-width: 100%;
  }
  .order-content {
    background-color: yellow;
    color: white;
  }
  /* CSS */
  .detail {
    background-color: yellow;
    color: white;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .img-detail {
    max-width: 100%;
  }
  .order-content {
    background-color: green;
    color: white;
  }
  .img-gallery {
    max-width: 50px;
  }
  .detail {
    background-color: green;
    color: white;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .img-detail {
    max-width: 100%;
  }
  .order-content {
    background-color: black;
    color: white;
  }
  .order-img {
    max-width: 100%;
  }
  .img-gallery {
    max-width: 10%;
  }
  .detail {
    background-color: black;
    color: white;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  .img-detail {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .order-content {
    background-color: red;
    color: white;
  }
  .order-img {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .img-gallery {
    display: none
  }
  .detail {
    background-color: red;
    color: white;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  .img-detail {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
   .order-content {
    background-color: pink;
    color: white;
  }
  .img-gallery {
    display: none
  }
  .detail {
    background-color: pink;
    color: white;
  }
}



/* Cart */



.card {
  border: 1px solid #eee;
  cursor: pointer
}

.weight {
  /* margin-top: -1px; */
  transition: all 0.5s
}

.weight small {
  color: #e2dede
}

.buttons {
  padding: 5px;
  background-color: #d6d4d44f;
  border-radius: 4px;
  position: relative;
  margin-top: 2px;
  opacity: 0;
  transition: all 0.8s
}

.dot {
  height: 14px;
  width: 5px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  left: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  color: #fff;
  opacity: 0
}

.cart-button {
  height: 48px
}

.cart-button:focus {
  box-shadow: none
}

.cart {
  position: relative;
  height: 30px !important;
  width: 50px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 11px;
  border-radius: 5px;
  font-size: 14px;
  transition: 1s ease-in-out;
  overflow: hidden
}

.cart-button.clicked span.dot {
  animation: item 0.3s ease-in forwards
}

@keyframes item {
  0% {
      opacity: 1;
      top: 30%;
      left: 30%
  }

  25% {
      opacity: 1;
      left: 26%;
      top: 0%
  }

  50% {
      opacity: 1;
      left: 23%;
      top: -22%
  }

  75% {
      opacity: 1;
      left: 19%;
      top: -18%
  }

  100% {
      opacity: 1;
      left: 14%;
      top: 28%
  }
}

.card:hover .buttons {
  opacity: 1
}

.card:hover .weight {
  margin-top: 10px
}

.card:hover {
  transform: scale(1.04);
  z-index: 2;
  overflow: hidden
}